/**
 * gasvaktin.css
 * CSS styles overriding default Bootstrap CSS for the glory of looks!
 */

html {
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    /*overflow: auto;*/
}

/* removing focus glow for everything */
/* http://stackoverflow.com/q/17109702/2401628 */
*:focus {
    outline: 0;
}

.modal-body-center {
    text-align: center;
}
.the-gap {
    padding-top: 10px;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.app-title {
    padding: 16px 16px;
}

.intro-section {
    height: 100%;
    padding-top: 80px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.pricetrends-settings {
    position: relative;
    float: right;
    padding: 6px 13px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.pricetrends-settings:hover {
    background-color: #ddd;
}
.pricetrends-settings:focus {
    background-color: #ddd;
    outline: none;
}

.back-to-home {
    position: relative;
    float: right;
    padding: 6px 26px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: 0px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
}
.back-to-home:hover {
    color: #333;
    background-color: #ddd;
}
.back-to-home:focus {
    color: #333;
    background-color: #ddd;
    outline: none;
}

.chart-container {
    max-width: 56vh; /* control width based on height (should be 50 but for */
    /* some reason using 56 seems to look better) */
    /* https://www.w3schools.com/cssref/css_units.asp */
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    /* centering chart horizontally and vertically */
    /* http://stackoverflow.com/a/6490283/2401628 */
    display: flex;
    justify-content: center;
}

.chart-object {
    /* centering chart horizontally and vertically */
    /* http://stackoverflow.com/a/6490283/2401628 */
    align-self: center;
}

@media(max-width: 766px) {
    .settings-modal {
        margin: 48px 3px 0px 3px;
    }
}
@media(min-width: 767px) {
    .settings-modal {
        margin-top: 95px;
    }
}

.company-selector {
    outline: none !important;
}

/*
 * Map and list transformation behavior between different window sizes
 */
@media(min-width: 1024px) {
    .ordering-buttons {
        width: 440px;
    }
    .locations-map {
        text-align: center;
        background: lightgray;
        height: calc(100% - 90px);
        width: calc(100% - 440px);
        padding-right: 0px;
        padding-left: 0px;
        float: none;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .stations-list {
        height: calc(100% - 35px);
        width: 440px;
        padding-right: 0px;
        padding-left: 0px;
        overflow-y: auto;
        float: none;
    }
}
@media(max-width: 1023px) {
    .locations-map {
        text-align: center;
        background: lightgray;
        height: 35%;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        position: absolute;
        bottom: 0;
        float: none;
    }
    .stations-list {
        height: calc(65% - 55px);
    }
}

@media(min-width: 768px) {
    .gasvaktin-header {
        width: 100%;
        padding-right: 15px;
        padding-left: 40px;
        margin-right: auto;
        margin-left: auto;
    }
}

.ordering-buttons {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
}

/* <Stations-list> */

.stations-list {
    padding-right: 0px;
    padding-left: 0px;
    overflow-y: auto;
    float: none;
}

.station {
    position: relative;
    text-align: left;
    height: 74px;
    border-bottom: 1px solid darkgray;
}
.station:hover, .stationFocused {
  background-color: #cecece;
}
.daelan {
    background-image: url('/images/companies/daelan.png');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 5px 9px;
}
.atlantsolia {
    background-image: url('/images/companies/atlantsolia.png');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.orkan {
    background-image: url('/images/companies/orkan.png');
    background-size: 74px;
    background-repeat: no-repeat;
    background-position: 9px 4px;
}
.orkanx {
    background-image: url('/images/companies/orkanx.png');
    background-size: 69px;
    background-repeat: no-repeat;
    background-position: 12px 4px;
}
.olis {
    background-image: url('/images/companies/olis.png');
    background-size: 84px;
    background-repeat: no-repeat;
    background-position: 4px 5px;
}
.ob {
    background-image: url('/images/companies/ob.png');
    background-size: 74px;
    background-repeat: no-repeat;
    background-position: 9px 4px;
}
.n1 {
    background-image: url('/images/companies/n1.png');
    background-size: 83px;
    background-repeat: no-repeat;
    background-position: 3px 6px;
}
.skeljungur {
    background-image: url('/images/companies/skeljungur.png');
    background-size: 74px;
    background-repeat: no-repeat;
    background-position: 7px 2px;
}

.station h1 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-left: 92px;
}
.station h1 span {
    font-size: 12px;
    float: right;
    padding-top: 5px;
    padding-right: 9px;
}
.station .distance {
    padding-left: 92px;
}
.station .price {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 50px;
    right: 8px;
}
.station .discount-price {
    font-size: 12px;
    position: absolute;
    top: 54px;
    right: 85px;
}

/* </Stations-list> */

/* <PriceChanges-list> */

.pricechanges-list {
    height: 50%;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    overflow-y: auto;
    float: none;
}

.price-change {
    position: relative;
    text-align: left;
    height: 74px;
    border-bottom: 1px solid darkgray;
    /* making text in this element unselectable */
    /* http://stackoverflow.com/a/6900392/2401628 */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.price-change h1 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 8px;
    padding-left: 92px;
}
.price-change .timestamp {
    font-size: 12px;
    position: absolute;
    top: 6px;
    right: 6px;
}
.price-change .change {
    padding-left: 92px;
}
.price-change .diff {
    font-size: 18px;
    position: absolute;
    top: 44px;
    right: 6px;
}

.increase {
    background-color: #ffd4dc;
}
.decrease {
    background-color: #e2f3de;
}

/* </PriceChanges-list> */

.spacious {
    height: 100%;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.less-top {
    padding-top: 60px;
}

@media(min-width:767px) {
    .less-top {
        padding-top: 95px;
    }
}

.petrol-type-checker {
    position: absolute;
}
@media(max-width:766px) {
    .petrol-type-checker {
        right: 70px;
        top: 10px;
    }
}
@media(min-width:767px) {
    .petrol-type-checker {
        right: 32px;
        top: 32px;
    }
}

/*
 * Filthy CSS hack to hide Google Maps Logo and copyright note.
 * http://stackoverflow.com/a/36282582/2401628
 */
.gmnoprint:not(.gm-bundled-control) {display: none;}
.gm-bundled-control .gmnoprint {display: block;}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
a[href^="https://www.google.com/maps"]{display:none !important}
